body {
  font-family: Montserrat;
}
.search-box {
  position: relative;
  display: flex;
  width: 300px;
}
.search-input {
  width: 70%;
  font-size: 16px;
  border-radius: 6px;
  text-align: center;
  border: none;
  background-color: #f0f0f0;
  height: 4vw;
}
.search-button {
  background-color: #2c8dff;
  height: 4vw;
  width: 4vw;
  border: none;
  border-radius: 6px;
  margin-left: 1vw;
}
.suggestions {
  position: absolute;
  top: 85%;
  left: 0;
  width: 70%;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  display: none;
  z-index: 1;
}
.suggestion-item {
  padding: 10px;
  cursor: pointer;
}
.suggestion-item:hover {
  background-color: #e0e0e0;
}

.container-header {
  display: flex;
  justify-content: space-between;
  margin: 0 4vw;
}
.info-header {
  display: flex;
  align-items: center;
}

.titre-app {
  font-size: 30px;
  color: #23a3ea;
}

.container-map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
}

#p-info {
  width: 10%;
  font-size: 20px;
  color: #23a3ea;
  margin-right: 5vw;
}

.caard-meteo {
  display: flex;
  text-align: center;
  background-color: #23a3ea;
  color: white;
  border-radius: 0.8vw;
  width: 20vw;
  margin-right: 4vw;
  padding-bottom: 2vw;
  transition: opacity 1s linear;
}
.visible {
  opacity: 1;
}
.info-caard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5vw;
}
.info-sup-caard {
  display: flex;
  margin-left: 2vw;
  align-items: center;
}

#icon-wind-caard,
#icon-precipitation-caard,
#icon-humidity-caard {
  width: 30px;
  height: 30px;
  margin-right: 1vw;
}

#mapid {
  width: 55vw;
  height: 35vw;
  z-index: 0;
}
#img-weather {
  width: 7vw;
  height: 7vw;
}
#ville-caard {
  font-size: 35px;
}
#temperature-caard {
  font-size: 35px;
  font-weight: 700;
  font-family: Montserrat;
}

.p-copyright {
  text-align: center;
  margin-top: 2vw;
  font-size: 20px;
  color: #7d7d7d;
}
